@import "variables.scss";

*, *::after, *::before {
  box-sizing: border-box;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background: $black;
  color: $white;
  font-family: $font-family;
  header {
    background: #f44336;
    color: #fff;
    padding: 2.5px;
    font-size: 14px;
    text-align: justify;
    user-select: none;
  }
  main {
  //  min-height: calc(100vh - 35px);
    margin-bottom: 35px;
    .sysInfoDiv {
      width: 100%;
      height: auto;
      .sysInfoTitle {
        user-select: none;
        background: $black-lighten-color;
        height: 50px;
        font-size: 24px;
        line-height: 35px;
        padding: 7.5px;
        .sysInfoTitleText {
          float: left;
        }
        .sysInfoStatue {
          float: right;
        }
        .sysInfoStatue::after {
          clear: both;
        }
      }
      .sysInfoInformation {
        display: none;
        height: auto;
        .refreshInfo {
          text-align: center;
          padding: 7.5px;
          font-size: 18px;
          color: $white;
          background: $primary-color;
          cursor: pointer;
          a {
            color: $white;
            text-decoration: none;
          }
        }
        .sysInfoOneInfo {
          padding: 7.5px;
          font-size: 18px;
          color: $white;
          a {
            color: $primary-color;
            text-decoration: none;
            cursor: pointer;
          }
        }
        .batteryExt {
          display: none;
        }
      }
    }
  }
  footer {
    user-select: none;
    position: fixed;
    bottom: 0;
    height: auto;
    padding: 2.5px;
    text-align: right;
    line-height: 30px;
    width: 100%;
    font-size: 9.2px;
    border-top: solid 1.2px $primary-color;
    color: $white;
    background: $black-lighten-color;
    a {
      color: $white;
      font-weight: 700;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    header {
      font-size: 16px;
      padding: 5px;
    }
    footer {
      font-size: 12px;
      padding: 5px;
      line-height: 25px;
    }
  }
}
