$font-family: "Open Sans", sans-serif, "Roboto", sans-serif, "Arial";
$primary-color: #88c5fc;
$primary-color-hover: #7eb8ed;
$black: #121516;
$black-lighten-color: #232627;
$white: #f9f9f9;
$white-darken-color: #f0f0f0;
$dark-111: #111;
$contrast-lime: #76ff03;
$header-alert-display: none;
