@import "variables.scss";

*, *::after, *::before {
  box-sizing: border-box;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  background: $white;
  width: 100%;
  height: 100%;
  #versionWindow-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-111;
    #versionWindow-wrapper-versionDiv {
      font-size: 18px;
      #versionWindow-wrapper-versionDiv-version {
        color: $primary-color;
        font-weight: 700;
      }
    }
  }
}
